
<% let graphActive = ''; graphAriaCurrent = ''; %>
<% if (page == 'graph') {  %>
    <% graphActive = 'active'; %>
    <% graphAriaCurrent = 'aria-current="page"'  %>
<% } %>

<% let repeatActive = ''; repeatAriaCurrent = ''; %>
<% if (page == 'repeatUsers') {  %>
    <% repeatActive = 'active'; %>
    <% repeatAriaCurrent = 'aria-current="page"'  %>
<% } %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyGuide Usage</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link <%- graphActive %>" <%- graphAriaCurrent %> href="/stats/graph">Stats Graph</a>
          <a class="nav-link <%- repeatActive %>" <%- repeatAriaCurrent %> href="/stats/repeatUsers">Repeat Users</a>
        </div>
      </div>
    </div>
  </nav>