<!DOCTYPE html>
<!-- begin header -->
<html lang="en" dir="ltr">

<head>
  <%- include('partials/custom-google-analytics.ejs') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/generator-meta.ejs', {myGuideVersion}) %>
  <title>MyGuide - Miami University Libraries</title>

  <%- include('partials/header-includes.ejs'); %>
  <% if (fs.existsSync('views/partials/custom-header-info.ejs')) { %>
    <%- include('partials/custom-header-info.ejs'); %>
  <% } %>

</head>

<body class="m-3 mt-5 pt-3">
  <main>
  <div class="container-fluid">
    <!-- Start of main container-fluid -->
    <div class="row">
<!-- end header -->