<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGuide Usage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/createBarChart.js"></script>
    <style>
        .bar { fill: steelblue}
        .btn.disabled {     
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            color: #000 !important;  
        } 
    </style>
</head>
<body class="container">
    <h1>MyGuide Usage</h1>
    <div id="options">
        <div class="row">


        <ul id="increment-selector" class="btn-group col-lg-6">
            <li class="btn disabled">Time Frame:</li>
            <li class="btn btn-primary active" data-increment="day">Daily</li>
            <li class="btn btn-primary " data-increment="month">Monthly</li>
            <li class="btn btn-primary" data-increment="year">Yearly</li>
        </ul>

        <ul id="population-selector" class="btn-group col-lg-6">
            <li CLASS="btn disabled">Population:</li>
            <li class="btn btn-primary active" data-population="all">All Users</li>
            <li class="btn btn-primary " data-population="student">Student</li>
            <li class="btn btn-primary" data-population="faculty">Faculty</li>
            <li class="btn btn-primary" data-population="staff">Staff</li>
        </ul>


        <ul id="dataLevel-selector" class="btn-group col-lg-4">
            <li CLASS="btn disabled">Data Level:</li>
            <li class="btn btn-primary active" data-level="periodUses">Total Uses</li>
            <li class="btn btn-primary " data-level="periodDistinctUsers">Distinct Users</li>
        </ul>
        <div class="col-lg-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="startDate" class="input-group-text">Start date:</label>
                </div>
               
                <input type="date" class="form-control dateField" id="startDate" name="startDate" value="2021-08-31"
               min="2021-08-31">
            </div>
        </div>

        <div class="col-lg-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <label for="endDate" class="input-group-text">End date:</label>
            </div>
            <input type="date" class="form-control dateField" id="endDate" name="endDate" value=""
      min="2021-08-31">
      </div>
      </div>
    </div>
    </div>
    <svg height="500" width="1000"></svg>
    <div id="rawData"></div>
    <script>
        var d = new Date();
        console.log('month'+d.getMonth())
        if (d.getMonth() < 9) { monthPadding = '0'; } else { monthPadding = ''}
        var today = d.getFullYear() + "-" + monthPadding +  (d.getMonth()+1) + "-" + d.getDate();
            $(document).ready(function() {
                $('.dateField').each(function() {
                    $(this).attr('max',today);
                });
                $('#endDate').attr('value',today);
                updateChart();
                $('.btn').click(function() {
                    clkBtn = $(this);
                    clkBtn.parent().children('.btn').each(function(i) {
                        $(this).removeClass('active');
                    });
                    clkBtn.addClass('active'); // primary will be added by updateChart
                    updateChart();
                });
                $('.dateField').change(function() {
                    updateChart();
                })
            });

            function updateChart() {
                let activeIncrBtn = $('#increment-selector li.active');
                let increment = activeIncrBtn.data('increment');

                let activePopBtn = $('#population-selector li.active');
                let population = activePopBtn.data('population')

                let activeLevelBtn = $('#dataLevel-selector li.active');
                let dataLevel = activeLevelBtn.data('level');

                let startDate=$('#startDate').val() || '2019-08-15';
                let endDate=$('#endDate').val() || today;
                doChart({increment, population, startDate, endDate, dataLevel});
            }


            function doChart(o) {
                $('svg').empty();
                console.log($.param(o) )
                jQuery.getJSON('./usageData?'+$.param(o), function(data) {
                console.log(data);
                let levelLabels = {
                    'periodUses': 'Uses',
                    'periodDistinctUsers': 'Distinct Users'
                }
                let options = {
                    margin: 200,    
                    xValueProp: 'period', // this is the data[xValueLabel] property with data in it
                    xAxisLabel: 'Date',
                    yValueProp: o.dataLevel,
                    yAxisLabel: levelLabels[o.dataLevel],
                    chartTitle: 'MyGuide Usage by ' + data.increment + ': ' + data.startDate + ' - ' + data.endDate
                }
                createBarChart(data.details, options);
                $('#rawData').html('<pre>' + JSON.stringify(data,null,2) + '</pre>')
                });
            }
    </script>
</body>
</html>