
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>combination-box fixture</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/combobo.css">
</head>
  <body id="demo">
    <section class="bands">
      <div class="wrp">
        <h2>Single select</h2>
        <label for="combobox-single">Choose Band</label>
        <div class="combo-wrap">
          <input type="text" class="combobox" id="combobox-single">
          <i aria-hidden="true" class="fa trigger fa-caret-down" data-trigger="single"></i>
          <div class="listbox">
            <div class="option">Ween</div>
            <div class="option">Frank Zappa</div>
            <div class="option">Snarky Puppy</div>
            <div class="option">Umphrey's McGee</div>
            <div class="option">Keller Williams</div>
            <div class="option">Greensky Bluegrass</div>
            <div class="option">Leftover Salmon</div>
            <div class="option">Moe.</div>
            <div class="option">Family Groove Company</div>
            <div class="option">Mac Demarco</div>
            <div class="option">Lettuce</div>
          </div>
        </div>
      </div>
      <button type="button">Submit</button>
    </section>


    <script src="/js/combobo.js" charset="utf-8"></script>
    <script>
      (function () {
        var box = {
          'single': new Combobo({
            input: '#combobox-single',
            list: '.bands .listbox',
            activeClass: 'active',
            noResultsText: 'No results found.',
            optionValue: 'foo'
          })
        };

        window.box = box;

        // handle trigger clicks to toggle state of its combobox
        Array.prototype.slice.call(
          document.querySelectorAll('.trigger')
        ).forEach(function (trigger) {
          var instName = trigger.getAttribute('data-trigger');
          var inst = box[instName];
          trigger.addEventListener('click', function (e) {
            e.stopPropagation();
            console.log('clicked!?!?!');
            console.log(inst.isOpen);
            inst[inst.isOpen ? 'closeList' : 'openList']();
          });
        });
      }());
    </script>
  </body>
</html>
